@use "./abstracts/colors" as *
@use "./abstracts/dimensions" as *
@use "./modules/App"
@use "./modules/Header"
@use "./modules/HomePage"
@use "./modules/Menu"
@use "./modules/NewsPage"
@use "./modules/SocialLinks"
@use "./modules/Competitions"
@use "./modules/SignInPage"
@use "./modules/ProfilePage"
@use "./modules/CompetitionPage"
@use "./modules/SignUpPage"
@use "./modules/AuthInput"
@use "./modules/PasswordInput"
@use "./modules/ErrorMessage"
@use "./modules/ContactsPage"
@use "./modules/teamMembersCarousel"
@use "./modules/CookieBanner"
@use "./modules/AdminPage"


*
  box-sizing: border-box
  padding: 0
  margin: 0

*::-moz-selection
  color: $eerie-black
  background: $mustard


*::selection
  color: $eerie-black
  background: $mustard

*::-webkit-scrollbar
  width: 12px

*::-webkit-scrollbar-track
  background: $light-gray

*::-webkit-scrollbar-thumb
  background: $jonquil
  border-radius: 100px







body, html
  width: 100%
  scrollbar-gutter: stable

body, #app
  min-height: $minimal-height
  background: $alabaster

@media only screen and (max-width: $small-screen)

  html, body, #app
    ::-webkit-scrollbar
      width: 0
      background: transparent
      -webkit-appearance: none



