{% load static %} 
<!doctype html>
<html lang="en">
  <head>
	<meta charset="UTF-8" />
	<link rel="icon" type="image/svg+xml" href = "{% static 'assets/ib_logo.svg' %}" />
	<meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	
	<meta name="description" content="Integration Bee Austria is a dynamic mathematical competition held in Vienna, where students and enthusiasts challenge themselves to solve complex integrals. Join us to test your skills, connect with fellow math lovers, and experience the thrill of competition in a supportive community environment. | Integration Bee Österreich ist ein dynamischer Mathematikwettbewerb in Wien, bei dem sich Studierende und Enthusiasten der Herausforderung stellen, komplexe Integrale zu lösen. Mach mit, teste deine Fähigkeiten, knüpfe Kontakte zu Mathematikliebhabern und erlebe den Wettbewerb in einer unterstützenden Gemeinschaft." />
	<title>Integration Bee Austria | Integration Bee Österreich</title>

	
	<meta name="robots" content="index, follow" />

	
	<meta name="author" content="Formamind" />

	
	<meta property="og:title" content="Integration Bee Austria - Master the Art of Integration | Integration Bee Österreich - Meistere die Kunst der Integration" />
	<meta property="og:description" content="Integration Bee Austria brings math enthusiasts together in Vienna for an exciting competition focused on solving complex integrals. Open to students and all integration lovers, it’s the perfect event to test your skills, make new connections, and celebrate the beauty of mathematics! | Integration Bee Österreich bringt Mathematikbegeisterte in Wien für einen aufregenden Wettbewerb zusammen, der sich auf das Lösen komplexer Integrale konzentriert. Offen für Studierende und Integrationsliebhaber ist dies die perfekte Veranstaltung, um deine Fähigkeiten zu testen, neue Kontakte zu knüpfen und die Schönheit der Mathematik zu feiern!" />
	<meta property="og:image" content="https://i.ibb.co/b5f8NnJ/image-og.png" />
	<meta property="og:url" content="https://integrationbee.at/" />
	<meta property="og:type" content="website" />

	
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="Integration Bee Austria - Master the Art of Integration | Integration Bee Österreich - Meistere die Kunst der Integration" />
	<meta name="twitter:description" content="Integration Bee Austria brings math enthusiasts together in Vienna for an exciting competition focused on solving complex integrals. Open to students and all integration lovers, it’s the perfect event to test your skills, make new connections, and celebrate the beauty of mathematics! | Integration Bee Österreich bringt Mathematikbegeisterte in Wien für einen aufregenden Wettbewerb zusammen, der sich auf das Lösen komplexer Integrale konzentriert. Offen für Studierende und Integrationsliebhaber ist dies die perfekte Veranstaltung, um deine Fähigkeiten zu testen, neue Kontakte zu knüpfen und die Schönheit der Mathematik zu feiern!" />
	<meta name="twitter:image" content="https://i.ibb.co/b5f8NnJ/image-og.png" />

	
	<link rel="canonical" href="https://integrationbee.at/" />

	
	<meta http-equiv="Content-Language" content="en, de" />

	
	<meta name="keywords" content="Integration Bee, Austria, Mathematics Competition, Calculus, Integration Challenges, Vienna, Integration Bee, Österreich, Mathematikwettbewerb, Wien, Integration Herausforderungen" />


	
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-DNKMDFQFGM"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-DNKMDFQFGM');
	</script>

    <script type="module" crossorigin src = "{% static 'js/index-TlE3UjbI.js' %}"></script>
    <link rel="stylesheet" crossorigin href = "{% static 'css/index-BPPCWriz.css' %}">
  </head>
  <body>
	<div id="app"></div>
	<noscript>
	  <div class="bg-primary-100 text-secondary-600 font-body p-4 rounded-md text-center">
		<p class="text-body">Notice:</p>
		<p class="text-text-sm md:text-body">
		  For the Integration Bee Austria website to work correctly, JavaScript needs to be enabled in your browser settings. Please enable JavaScript to access all features.
		</p>
	  </div>
	</noscript>    
  </body>
</html>
