{% load static %} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href = "{% static 'assets/ib_logo.svg' %}" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Integration Bee Austria - Mathematical competition in Vienna." />
    <title>Integration Bee Austria</title>
    <script type="module" crossorigin src = "{% static 'js/index-bf0l_pL6.js' %}"></script>
    <link rel="stylesheet" crossorigin href = "{% static 'css/index-ybeewIUH.css' %}">
  </head>
  <body>
    <div id="app"></div>
    <noscript>
      <div class="bg-primary-100 text-secondary-600 font-body p-4 rounded-md text-center">
        <p class="text-body">Notice:</p>
        <p class="text-text-sm md:text-body">
          For the Integration Bee Austria website to work correctly, JavaScript needs to be enabled in your browser settings. Please enable JavaScript to access all features.
        </p>
      </div>
    </noscript>    
  </body>
</html>
