{% load static %} 
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href = "{% static 'assets/ib_logo.svg' %}" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Integration Bee Austria</title>
    <script type="module" crossorigin src = "{% static 'js/index-CT8eAMwS.js' %}"></script>
    <link rel="stylesheet" crossorigin href = "{% static 'css/index-G0JCd6ZG.css' %}">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
