venv/
IntegrationBeeApp/db.sqlite3
IntegrationBeeApp/Dockerfile
IntegrationBeeApp/static/*
IntegrationBeeApp/.dockerignore
.idea/
IntegrationBeeApp/IntegrationBeeApp/settings/production.py
IntegrationBeeApp/IntegrationBeeApp/settings/dev.py
IntegrationBeeApp/backup/
Frontend/IntegrationBeeFrontend/node_modules/
Frontend/IntegrationBeeFrontend/dist/
/IntegrationBeeApp/media/
