.SignUpPage
  height: 100%
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  font-family: Poppins, sans-serif
  font-size: 2rem
  color: black
  text-align: center
  padding: 2rem