@import "../abstracts/colors"
@import "../abstracts/dimensions"

#app
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 4rem 1fr
  z-index: 1

main
  grid-row: 2/3
  z-index: inherit


@media only screen and (min-width: $medium-screen)
  #app
    grid-template-rows: 6rem 1fr


