@import "./abstracts/colors"
@import "./abstracts/dimensions"
@import "./modules/App"
@import "./modules/Header"
@import "./modules/HomePage"
@import "./modules/Menu"

*
  box-sizing: border-box
  padding: 0
  margin: 0

*::-moz-selection
  color: $eerie-black
  background: $mustard


*::selection
  color: $eerie-black
  background: $mustard

*::-webkit-scrollbar
  width: 12px

*::-webkit-scrollbar-track
  background: $light-gray

*::-webkit-scrollbar-thumb
  background: $jonquil
  border-radius: 100px







body, html
  width: 100%
  height: 100

body, #app
  height: 100vh
  hright: 100svh
  min-height: $minimal-height
  background: $alabaster

@media only screen and (max-width: $small-screen)

  html, body, #app
    ::-webkit-scrollbar
      width: 0
      background: transparent
      -webkit-appearance: none



