/* line 1, home/static/sass/index.sass */
body, html {
  width: 100%;
  height: 100%; }

/* line 5, home/static/sass/index.sass */
body {
  background: red;
  min-height: 100vh;
  min-height: 100svh; }
