@use "./modules/App" as * {}/* line 3, home/static/sass/index.sass */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* line 8, home/static/sass/index.sass */
body, html {
  width: 100%;
  height: 100%; }

/* line 12, home/static/sass/index.sass */
body, #app {
  min-height: 100vh;
  min-height: 100svh; }
