/* line 1, home/static/sass/index.sass */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* line 6, home/static/sass/index.sass */
body, html {
  width: 100%;
  height: 100%; }

/* line 10, home/static/sass/index.sass */
body {
  background: red;
  min-height: 100vh;
  min-height: 100svh; }

/* line 15, home/static/sass/index.sass */
mydiv {
  color: purple; }
