@use "./modules/App.sass" {}@use "./modules/Header" {}/* line 4, home/static/sass/index.sass */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

/* line 9, home/static/sass/index.sass */
body, html {
  width: 100%;
  height: 100%; }

/* line 13, home/static/sass/index.sass */
body, #app {
  min-height: 100vh;
  min-height: 100svh; }
