$alabaster: #FBFBFB
$jonquil: #FFCC00
$eerie-black: #202020
$orange-peel: #FF9C00
$mustard: #FFDE5C
$flax: #FFEB99
$lavender: #cc00ff
$tekhelet: #54318C
$light-gray: #f1f1ee
$mid-gray: #DADAD2
$vermilion: #ff3333
$error-bg: #2c0b0e
$malachite: #00d062