$alabaster: #FBFBFB
$jonquil: #FFCC00
$eerie-black: #202020
$orange-peel: #FF9C00
$mustard: #FFDE5C
$flax: #FFEB99
$lavender: #cc00ff
$tekhelet: #54318C
$light-gray: #f1f1ee
$vermilion: #ff3333
$malachite: #00d062